.edit-name {
    font-family: 'Roboto';
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 51.5%;
    left: 3%;
    border: 1px solid var(--background);
    background-color: var(--background);
    width: 260px;
    color: var(--side-color);
    outline: none;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900;
}