.input-container {
    width: 400px;
    margin: 0px;
    height: 95vh;
    background-color: var(--side-color);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
  
}

.todo-heading {
    color: var(--text-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 900;
    opacity: 0.8;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.input-task, .input-name {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.input-task {
    margin-bottom: 25px;
}

.add-btn {
    background-color: transparent;
    font-family: 'Roboto';
    border: 2px solid white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 120px;
}

.add-btn:active {
    transform: translateY(2px);
}

.search-field {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.search {
    color: var(--text-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 900;
    opacity: 0.8;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-btn {
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 50px;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    letter-spacing: 2px;
    width: 130px; 
}

.search-btn:active {
    transform: translateY(2px);
}

.magnifyer {
    margin-left: 10px;
}

.all-div, .completed-div, .uncompleted-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-choice, .completed-choice, .uncompleted-choice {
    font-size: 20px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.box-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    width: 330px;
    margin-top: 30px;
}

.checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.all-div {
    margin-right: 50px;
}

.checkmark {
    color: white;
    font-size: 24px;
    font-weight: 200;
    position: absolute;
    margin-bottom: 7px;
}

.color-search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-color-headline {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-right: 10px;
}

.select-input {
    position: relative;
    font-family: "Roboto";
    letter-spacing: 1px;
    font-size: 15px;
    color: black;
    width: 126px;
}





