
.edit-input {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 24.7%;
    border: 1px solid var(--background);
    background-color: var(--background);
    width: 260px;
    color: black;
    font-size: 23px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
}



.done-btn {
    margin-top: 20px;
    background-color:rgb(56, 57, 60);
    opacity: 0.9;
    border: none;
    padding: 6px 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--background);
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}

.done-btn:active {
    transform: translateY(2px);
}