.todo-list {
    height: 96vh;
    max-width: 97vw;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.cards {
    width: 65%;
    display: flex;
    flex-wrap: wrap; 
    justify-content:flex-start;
    align-items: center; 
    position: absolute;
    top: 0;
    right: 3%;
    margin-top: 50px;
}
