.todo-list {
    height: 200vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: teal;
    background-size: cover;
    background-position: center;
}

.cards {
    width: 68%;
    display: flex;
    flex-wrap: wrap; 
    justify-content:flex-start;
    align-items: center; 
    position: absolute;
    top: 0;
    right: 0;
    
}
