.todo-list {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/images/beach.jpg');
}

.cards {
    width: 75%;
    display: flex;
    flex-wrap: wrap;  
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    
}
