@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

.card {
    width: 290px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:var(--background) ;
    margin-right: 20px;
    border-radius: 4px;
    position: relative;
    margin: 12px 0px 12px 25px;
}

.card-header {
    width: 100%;
    height: 5vh;
    background-color: #da724f;
    opacity: 0.5;
}

.task-text {
    color: rgb(56, 57, 60);
    cursor: pointer;
    margin-top: 32px;
    font-size: 23px;
    letter-spacing: 1.5px;
    font-weight: 600;
    width: 260px;
    text-align: center;
    line-height: 30px;
}

.linethrough {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.name-text {
    color: rgb(56, 57, 60);
    width: 260px;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 800;
    position: fixed;
    top: 27%; 
}

.close-area {
    width: 45px;
    height: 5vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: white;
    font-size: 30px;
    cursor: pointer
}

.dot-area {
    width: 45px;
    height: 5vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 15%;
    left: 0;
    width: 280px;
    background-color: rgb(56, 57, 60);
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;
    animation-duration: 0.1s;
    animation-name: menu;
}



@keyframes menu {
    0% {
        height: 0px;
        opacity: 0;
    }
   
    20% {
        height: 30px;
       
    }
 
    40% {
        height: 60px;
     
    }
   
    60% {
        height: 90px;
        
    }
    80% {
        height: 120px;
      
    }
    100% {
        height: 165px;
       
    }
  
}

.box {
    width: 18px;
    height: 18px;
    border: 1px solid var(--background);
    margin-right: 12px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 130px;
    margin-right: 5px; 
}

.pink-color {
    margin-right: 8px;
    width: 45px;
    height: 20px;
    background-color: var(--background);
    border-radius: 3px;
    position: relative;
}

.pink-color-div {
    width: 45px;
    height: 20px;
    background-color: #da4fb5;
    position: absolute;
    top: -80%;
    left: 0;
    opacity: 0.5;
    border-radius: 3px;
}

.green-color {
    margin-right: 8px;
    width: 45px;
    height: 20px;
    background-color: var(--background);
    border-radius: 3px;
    position: relative;
}

.green-color-div {
    width: 45px;
    height: 20px;
    background-color:  rgb(7, 192, 59);
    position: absolute;
    top: -80%;
    left: 0;
    opacity: 0.6;
    border-radius: 3px;
}

.yellow-color {
    margin-right: 8px;
    width: 45px;
    height: 20px;
    background-color: var(--background);
    border-radius: 3px;
    position: relative;
}

.yellow-color-div {
    width: 45px;
    height: 20px;
    background-color:  #F2DA54;
    position: absolute;
    top: -80%;
    left: 0;
    opacity: 0.6;
    border-radius: 3px;
}

.blue-color {
    margin-right: 8px;
    width: 45px;
    height: 20px;
    background-color: var(--background);
    border-radius: 3px;
    position: relative;
}

.blue-color-div {
    width: 45px;
    height: 20px;
    background-color: rgb(42, 80, 245);
    position: absolute;
    top: -80%;
    left: 0;
    opacity: 0.6;
    border-radius: 3px;
}

.check {
    font-size: 29px;
    font-weight:lighter;
    position: absolute;
    margin-bottom: 7px;
    margin-left: 5px;
    color: var(--background);
    z-index: 8;
  
}

.green {
    background-color: rgb(7, 192, 59);
    width: 100%;
    height: 5vh;
    opacity: 0.6;
}
.blue {
    background-color: rgb(42, 80, 245);
    width: 100%;
    height: 5vh;
    opacity: 0.6;
}
.peach {
    background-color: #da4fb5;
    width: 100%;
    height: 5vh;
    opacity: 0.6;
}

.yellow {
    background-color: #F2DA54;
    width: 100%;
    height: 5vh;
    opacity: 0.9;
}

.divider {
    height: 0.5px;
    width: 200px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

.completed-div, .uncompleted-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    margin-right: 5px;
    color: white;
}

.done-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 280px;
    letter-spacing: 1.6px;
    margin-bottom: 5px;
    margin-left: 4px;
}


