.card {
    width: 290px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
    margin-right: 20px;
    border-radius: 4px;
    position: relative;
    margin: 12px 0px 12px 25px;
}

.card-header {
    width: 100%;
    height: 5vh;
    background-color: #da724f;
    opacity: 0.5;
}

.task-text {
    color: var(--side-color);
    cursor: pointer;
    margin-top: 32px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 400;
    width: 260px;
    text-align: center;
}

.linethrough {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.name-text {
    color: var(--side-color);
    width: 260px;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900;
}

.close-area {
    width: 45px;
    height: 5vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: white;
    font-size: 30px;
    cursor: pointer
}

.dot-area {
    width: 45px;
    height: 5vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 15%;
    left: 0;
    width: 280px;
    background-color: var(--side-color);
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;
}

.box {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    margin-right: 8px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 130px;
    margin-right: 5px;
  
}

.color {
    margin-right: 8px;
    letter-spacing: 1.6px;
    padding: 3px 6px;
    border-radius: 3px;
    color: white;
}

.check {
    font-size: 24px;
    font-weight: 200;
    position: absolute;
    margin-bottom: 7px;
    color: white;
  
}

.green {
    background-color: rgb(79, 167, 117);
    width: 100%;
    height: 5vh;
    opacity: 0.5;
}
.blue {
    background-color: rgb(98, 98, 211);
    width: 100%;
    height: 5vh;
    opacity: 0.5;
}
.peach {
    background-color: #da724f;
    width: 100%;
    height: 5vh;
    opacity: 0.5;
}

.yellow {
    background-color: rgb(245, 225, 69);
    width: 100%;
    height: 5vh;
    opacity: 0.5;
}

.divider {
    height: 0.5px;
    width: 200px;
    background-color: var(--text-color);
    margin-top: 5px;
    margin-bottom: 5px;
   
}

.completed-div, .uncompleted-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    margin-right: 5px;
    color: white;
}

.done-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 280px;
    letter-spacing: 1.6px;
}


