.card {
    width: 290px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
    color: white;
    margin-right: 20px;
    opacity: 0.7;
    border-radius: 4px;
    position: relative;
    margin: 12px 0px 12px 25px;
}

.card-header {
    width: 100%;
    height: 5vh;
    background-color: #da724f;
    opacity: 0.5;
}

.task-text {
    color: var(--side-color);
}

.name-text {
    color: var(--side-color);
}

.close-area {
    width: 45px;
    height: 5vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-area:hover {
    background-color: #d34f23;
}

.close {
    color: white;
    font-size: 30px;
    cursor: pointer
}