body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#E6E2DD;
  color: black;
  font-family: "Roboto";
}

/* Style guide */

:root {
  --background: #E6E2DD;
  --side-color: #D48166;
  --text-color: #fff;
  --postit: #373A36
}

@font-face {
  font-family:  'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}


